
  
  .absolute-center {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top:2px;
  }
  
  .text-center{
    text-align: center;
  }
  
  p {
    font-size: 1.3rem;
  }
  
  