<div class="row header-row">
    <div class="col header-row-padding">
        <img src="assets/logo.svg">
    </div>
    <div class="col col-sm-8 text-center">
        <div class="row">
            <div class="col">
                <app-chart [data]="chartDataMailbox"></app-chart>
            </div>
            <div class="col">
                <div *ngIf="isSyncing">
                    <div class="progress-content">
                        <small style="margin:0;">{{ statusMessage }} </small>
                        <button (click)="cancel()" mat-icon-button aria-label="Cancel">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </div>
                    <div>
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    </div>
                </div>
                <div class=" header-row-padding" *ngIf="!isSyncing">
                    <button mat-raised-button (click)="sync()">
                        <mat-icon>sync</mat-icon>
                        SCAN NOW
                    </button>
                </div>
            </div>
            <div class="col text-right">
                <app-chart [data]="chartDataNewsletters"></app-chart>
            </div>
        </div>

        <!--
        <app-chart></app-chart>
      
    -->
    </div>
    <div class="col text-right header-row-padding">
        <button [disabled]="isSyncing" mat-raised-button routerLink="/settings">
            <mat-icon>build</mat-icon>
            SETTINGS
        </button>
    </div>
</div>

<mat-tab-group mat-align-tabs="center">
    <mat-tab label="{{ 'NEW (' + (undhandledMails | async)?.length + ')'}}">
        <grouped-list (onDeleteMsg)="onDeleteMsg($event)" (onKeepMsg)="onKeepMsg($event)"
            (onUnsubscribeMsg)="onUnsubscribeMsg($event)" (onDeleteDomain)="onDeleteDomain($event)"
            (onKeepMsgDomain)="onKeepMsgDomain($event)" (onUnsubscribeDomain)="onUnsubscribeDomain($event)"
            [groups]="undhandledMails" [status]="0">
        </grouped-list>
    </mat-tab>
    <mat-tab label="{{ 'KEEP (' + (keepMails | async)?.length + ')'}}">
        <grouped-list (onDeleteMsg)="onDeleteMsg($event)" (onKeepMsg)="onKeepMsg($event)"
            (onUnsubscribeMsg)="onUnsubscribeMsg($event)" (onDeleteDomain)="onDeleteDomain($event)"
            (onKeepMsgDomain)="onKeepMsgDomain($event)" (onUnsubscribeDomain)="onUnsubscribeDomain($event)"
            [groups]="keepMails" [status]="2">
        </grouped-list>
    </mat-tab>
    <mat-tab label="{{ 'UNSUBSCRIBED (' + (unsubscribedMails | async)?.length + ')'}}">
        <grouped-list (onDeleteMsg)="onDeleteMsg($event)" (onKeepMsg)="onKeepMsg($event)"
            (onUnsubscribeMsg)="onUnsubscribeMsg($event)" (onDeleteDomain)="onDeleteDomain($event)"
            (onKeepMsgDomain)="onKeepMsgDomain($event)" (onUnsubscribeDomain)="onUnsubscribeDomain($event)"
            [groups]="unsubscribedMails" [status]="1">
        </grouped-list>
    </mat-tab>
</mat-tab-group>