<div class="row header-row">
    <div class="col">
        <img src="assets/logo.svg">
    </div>
    <div class="col text-center">
        <div *ngIf="isSyncing">
            {{ statusMessage }} <mat-icon (click)="cancel()" inline clickable>cancel</mat-icon>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <div *ngIf="!isSyncing">
            <button mat-raised-button (click)="sync()">
                <mat-icon>sync</mat-icon>
                SYNC NOW
            </button>
        </div>
    </div>
    <div class="col text-right">
        <button mat-raised-button routerLink="/settings">
            <mat-icon>build</mat-icon>
            SETTINGS
        </button>
    </div>
</div>

<mat-tab-group mat-align-tabs="center">
    <mat-tab label="{{ 'NEW (' + (undhandledMails | async)?.length + ')'}}">
        <grouped-list [groups]="undhandledMails" [status]="0">
        </grouped-list>
    </mat-tab>
    <mat-tab label="{{ 'KEEP (' + (keepMails | async)?.length + ')'}}">
        <grouped-list [groups]="keepMails" [status]="2">
        </grouped-list>
    </mat-tab>
    <mat-tab label="{{ 'UNSUBSCRIBED (' + (unsubscribedMails | async)?.length + ')'}}">
        <grouped-list [groups]="unsubscribedMails" [status]="1">
        </grouped-list>
    </mat-tab>
</mat-tab-group>