.header-row img {
    max-width:120px
}

.header-row-padding {
    padding-top:15px;
}

:host /deep/ .mat-tab-body-content{
    overflow: hidden;
}

.progress-content {
    height:38px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    padding-top:10px;
}

:host /deep/ .mat-tab-label {
    color: rgb(97, 97, 97);
    opacity: 1;
}

/* Styles for the active tab label */
:host /deep/ .mat-tab-label.mat-tab-label-active {
    color: rgb(97, 97, 97);
    opacity: 1;
}

@mixin md-icon-size($size: 24px) {
    font-size: $size;
    height: $size;
    width: $size;
  }
  
  .material-icons.mat-icon {
    @include md-icon-size(20px);
  }

  :host /deep/ .tabbar .mat-tab-header {
    border-bottom-style: none;
  }


  #feedbackbtn {
      position: fixed;
      bottom: 24px;
      right: 24px;
      border-radius: 36px;
  }