
:host /deep/ .notwoline .mdc-list-item__primary-text {
    margin-bottom: 0px !important;
}

.foobar {
    font-weight: 500;
}

.whiteframe {
    padding: 12px;
    margin-top:20px;
}

.whiteframe mat-card {
    background-color: #f8f9fa;
    padding: 0px;
    margin-bottom: 12px;
}

.sublist {
    padding-top: 0px;
    margin-top: -8px;
    margin-bottom: 20px;
    margin-left: 30px;
 }

 .sublist .mat-list-base {
     padding-top:0;
     
 }

.iconclose {
    margin-left: -5px;
}

.iconadjust {
    margin-top: -2px;
}

.buttonspace {
    margin-right: 10px;
}

.listheader {
    margin-top: 25px;
    font-weight: 500;
    color:#ddd;
}

.delete-info {
    position: absolute;
    bottom:-2px;
    left:40px;
    font-size:0.9em;
    color:#666;

    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.01785714em;
  
}

.test {
    padding: 10px;
    border:6px solid #fff;
}

.text-red {
    color:darkred;
}

.text-gold {
    color:darkgoldenrod;
}

.text-green {
    color:darkgreen;
}


.group-header {
    text-align: center;
    font-size: 0.8em;
    padding-top:10px;
}

.group-header .selected {
    text-decoration: underline;
}