<div *ngIf="groups | async as groups; else loading">
    <ng-container *ngIf="groups.length; else noItems">
        <!--<mat-list-group>-->
        <div *ngFor="let d of groups;let a = index;" class="row">
            <h3 matSubheader class="listheader">{{ d.identifier }}</h3>
            <mat-list avatar style="flex-grow: 1;" class="whiteframe">
                <div *ngFor="let m of d.messagegroups; let i = index">
                    <mat-list-item (click)="toogleGroup(m,$event)" [attr.aria-expanded]="!m.isCollapsed"
                        [attr.aria-controls]="'collapse' + a + i">
                        <p matLine class="notwoline">
                            <img src="{{ 'https://s2.googleusercontent.com/s2/favicons?domain=' + m.hostname}}"
                                style="padding-right:10px;">
                            {{ m.name }}
                            {{ m.estimatedMessageCount>1 ? '('+m.estimatedMessageCount+')' : ''}}
                            <mat-icon *ngIf="m.estimatedMessageCount>1" style="position: relative;bottom: -5px;">
                                arrow_drop_down</mat-icon>
                            <small style="color:darkgrey"> {{ m.hostname }} </small>
                        </p>

                        <div mat-list-item style="min-width:500px; text-align: right;">
                            <button [hidden]="status != 0" mat-button (click)="keepAll(m,$event)">
                                <mat-icon>check</mat-icon>
                                {{ m.estimatedMessageCount>1 ? 'KEEP (' +  m.estimatedMessageCount + ')' : 'KEEP' }}
                            </button>
                            <button [hidden]="status == 1" mat-button (click)="unsubscribeAll(m,$event)">
                                <mat-icon>cancel</mat-icon>
                                UNSUBSCRIBE {{ m.estimatedMessageCount>1 ? '(' +  m.estimatedMessageCount + ')' : '' }}

                            </button>
                            <button mat-button (click)="deleteAll(m,$event)">
                                <mat-icon>delete</mat-icon>
                                DELETE {{ m.estimatedMessageCount>1 ? '(' +  m.estimatedMessageCount + ')' : '' }}
                            </button>
                        </div>

                    </mat-list-item>

                    <div [attr.id]="'collapse' + a + i" [hidden]="m.isCollapsed">
                        <mat-list twoLine interactive=false>
                            <mat-list-item *ngFor="let msg of m.messages; let msgIndex = index"
                                class="mat-list--two-line">
                                <p matLine *ngIf="status != 1">
                                    {{ msg.from }}
                                </p>
                                <p matLine>
                                    {{ (msg.ignoreIds.length + 1) + ' mails, last from: ' +  (msg.lastDate | date:'medium') }}
                                </p>

                                <div [hidden]="m.messages.length == 1" mat-list-item
                                    style="min-width:500px; text-align: right;">
                                    <button mat-button (click)="keep(m,msg.lastId)">
                                        <mat-icon>check</mat-icon>
                                        KEEP
                                    </button>
                                    <button mat-button (click)="unsubscribe(m,msg.lastId)">
                                        <mat-icon>cancel</mat-icon>
                                        UNSUBSCRIBE
                                    </button>
                                    <button mat-button (click)="delete(m,msg.lastId)">
                                        <mat-icon>delete</mat-icon>
                                        DELETE
                                    </button>
                                </div>
                            </mat-list-item>
                        </mat-list>

                    </div>

                </div>
            </mat-list>
        </div>
        <!--</mat-list-group>-->

    </ng-container>
    <ng-template #noItems>
        <p class="alert alert-info">No items in this list!
        </p>
    </ng-template>
</div>
<ng-template #loading>
    <div class="text-center" style="padding:20px;">
        Loading Data...
    </div>
</ng-template>