<div class="row">
    <div class="col text-right">
        <div style="padding-top:30px;">
            <div>Mails: <b>{{ _mailbox.totalMails }}</b></div>
            <div>Newsletters: <b>{{ _mailbox.totalNewsletters }}</b></div>
            <div>Size: <b>{{ _mailbox.totalNewsletterSize | filesize}}</b></div>
            <div>Overall Read: <span [ngClass]="{ 'text-green': _mailbox.newsletterReadPercentage > 50, 'text-red': _mailbox.newsletterReadPercentage <= 50 }"><b>{{ _mailbox.newsletterReadPercentage }} %</b></span>  </div>
        </div>
    </div>
    <div class="col">
        <app-chart [data]="chartData"></app-chart>
    </div>
</div>