<!--
<div *ngIf="!isLoaded" style="min-width: 200px; padding:20px;">
    Loading
    <mdc-linear-progress></mdc-linear-progress>
</div>
-->



<!--


<div class="container" *ngIf="!isLoaded && !isLoggedIn" style="min-width: 200px; padding:20px; text-align:center;">
  
</div>


<div *ngIf="isLoggedIn" class="container">

    <div class="row">
        <div class="col">
            <img src="assets/logo.svg" style="padding-left:10px; padding-top:8px;max-width:120px">
        </div>
        <div class="col text-center" style="margin-top:8px;">
            <div *ngIf="isSyncing">
                {{ statusMessage }} <mdc-icon (click)="cancel()" inline clickable>cancel</mdc-icon>
                <mdc-linear-progress [progress]="progress"></mdc-linear-progress>
            </div>
            <div *ngIf="!isSyncing">
                <button mdc-button (click)="sync()">
                    <mdc-icon>sync</mdc-icon>Sync Now
                </button>
            </div>
        </div>
        <div class="col text-right">
            <button mdc-button routerLink="/settings" style="margin-right:10px; margin-top:8px;">
                <mdc-icon>build</mdc-icon>Settings
            </button>
        </div>
    </div>

    <div class="whiteframe">
        <router-outlet #o="outlet"></router-outlet>
    </div>

</div>

-->


<div class="container">
    <router-outlet #o="outlet"></router-outlet>
</div>