<div *ngIf="!isLoaded" style="min-width: 200px; padding:20px;">
    Loading
    <mdc-linear-progress></mdc-linear-progress>
</div>


<div *ngIf="isLoaded && !isLoggedIn" style="min-width: 200px; padding:20px;">
    <div>
        your not logged in. please login
    </div>
    <br>
    <button mdc-button raised (click)="login()">
        <mdc-icon>account_box</mdc-icon>Login
    </button>
</div>


<div *ngIf="isLoaded && isLoggedIn">

    <div class="row">
        <div class="col">
            <img src="assets/logo.png">
        </div>
        <div class="col text-right">
            <button mdc-button routerLink="/settings">
                <mdc-icon>build</mdc-icon>Settings
            </button>
        </div>
    </div>

    <hr>

    <!-- [@myAnimation]="o.isActivated ? o.activatedRoute : ''" -->
    <div>
        <router-outlet #o="outlet"></router-outlet>
    </div>

</div>



<!--
<div class="container">
    <div class="row">
      <div class="col">
        1 of 2
      </div>
      <div class="col text-right">
        2 of 2
      </div>
    </div>
    <div class="row">
      <div class="col">
        1 of 3
      </div>
      <div class="col">
        2 of 3
      </div>
      <div class="col">
        3 of 3
      </div>
    </div>
  </div>
  <div class="alert alert-primary" role="alert">
    A simple primary alert—check it out!
  </div>

  -->

<!--
<div *ngIf="!isLoggedIn">
    <div>
        your not logged in. please login
    </div>
    <br>
    <button mdc-button raised (click)="login()">
        <mdc-icon>account_box</mdc-icon>Login
      </button>
</div>
-->


<!--
<mdc-top-app-bar class="top-app-bar-with-tabs" *ngIf="isLoggedIn">
    <mdc-top-app-bar-row>
        <mdc-top-app-bar-section align="start" title="{{ title }}">
            <button mdcTopAppBarNavIcon (click)="drawer.open = !drawer.open">
                <mdc-icon>menu</mdc-icon>
            </button>
        </mdc-top-app-bar-section>
        <mdc-top-app-bar-section align="end">
            <mdc-icon mdcTopAppBarActionItem>search</mdc-icon>
            <mdc-icon mdcTopAppBarActionItem>notifications_none</mdc-icon>
            <mdc-icon mdcTopAppBarActionItem (click)="profileMenu.open = !profileMenu.open">more_vert</mdc-icon>
            <div mdcMenuSurfaceAnchor #menuAnchor>
                <mdc-menu #profileMenu [anchorElement]="menuAnchor">
                    <mdc-list>
                        <mdc-list-item>My Profile</mdc-list-item>
                        <mdc-list-divider></mdc-list-divider>
                        <mdc-list-item>Sign out</mdc-list-item>
                    </mdc-list>
                </mdc-menu>
            </div>
        </mdc-top-app-bar-section>
    </mdc-top-app-bar-row>
    <mdc-top-app-bar-row>
        <mdc-top-app-bar-section>
            <mdc-tab-bar>
                <mdc-tab-scroller>
                    <mdc-tab *ngFor="let tab of tabs">
                        <mdc-icon mdcTabIcon>{{ tab.icon }}</mdc-icon>
                        <mdc-tab-label>{{ tab.label }} ({{tab.count}})</mdc-tab-label>
                    </mdc-tab>
                </mdc-tab-scroller>
            </mdc-tab-bar>
        </mdc-top-app-bar-section>
    </mdc-top-app-bar-row>
</mdc-top-app-bar>
-->

<!--
<div class="app-content" *ngIf="isLoggedIn">
    <mdc-list avatar twoLine>
            <mdc-list-item *ngFor="let m of messages">
                <mdc-list-item-text *ngIf="m.subject !== undefined" secondaryText="{{ m.unsubscribeURL }}">{{ m.subject }}</mdc-list-item-text>
                <mdc-list-item-text *ngIf="m.subject === undefined" secondaryText="loading...">{{ 'Id: ' +  m.id }}</mdc-list-item-text>
                <button mdc-button mdcListItemMeta>
                        <mdc-icon>delete</mdc-icon>
                </button>
            </mdc-list-item>
        </mdc-list>

        <!--
    <mdc-list avatar twoLine>
        <mdc-list-item *ngFor="let mail of mails">
            <mdc-icon mdcListItemGraphic>
                <img src="{{ mail.icon }}">
            </mdc-icon>
            <mdc-list-item-text secondaryText="Secondary text">{{ mail.title }}</mdc-list-item-text>
            
            <a href="#/list-demo/examples" mdcListItemMeta mdcIcon aria-label="View more" title="More info">done</a>Keep in Inbox
            <a href="#/list-demo/examples" mdcListItemMeta mdcIcon aria-label="View more" title="More info">delete</a>Unsubscribe & Delete
            
            <button mdc-button mdcListItemMeta>
                    <mdc-icon>done</mdc-icon>Keep in Inbox
            </button>
            <button mdc-button mdcListItemMeta>
                    <mdc-icon>delete</mdc-icon>Unsubscribe & Delete
            </button>
        </mdc-list-item>
    </mdc-list>
-->

<!--
    <div style="text-align:center">
        <img width="300" alt="Angular Logo"
            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    
    </div>
    <h2>Current TAB ID: {{ tabId }}</h2>
    <p>You can easily send messages to the content page with the provided Tab ID!</p>
    <button (click)="onClick()">Click me to test</button>
    <div><strong>{{ message }}</strong></div>


</div>
-->