.logo {
    max-width:120px;
    padding-top:15px;
}

.settings-content {
    max-width: 450px;
    margin: auto;
    margin-top: 10%;
  }


  .settings-content img {
      min-height: 225px;
      background-color: #bbb;
  }


.mat-card-header .mat-card-title {
    font-size:18px;
}

.back-button {
    position: absolute;
    margin-left:175px;
    margin-top:-80px !important;
}