<hr>


<button mdc-button routerLink="/">
    <mdc-icon>chevron_left</mdc-icon>Back
</button>

<hr style="margin-bottom:15px;">

<div class="row">
    <div class="col-1 icon-column">
        <img class="domain-icon" src="{{ 'https://s2.googleusercontent.com/s2/favicons?domain=' + domain}}">
    </div>
    <div class="col">
        <div mdcHeadline4>{{ domain }}</div>
    </div>
    <div class="col-2">
            <mdc-chip-set>
                    <mdc-chip>
                      <mdc-chip-icon leading>mail</mdc-chip-icon>
                      <mdc-chip-text>{{ totalMsgCount }}</mdc-chip-text>
                    </mdc-chip>
                  </mdc-chip-set>
    </div>
</div>
<hr style="margin-top:15px;">
<div class="row link-row">
    <div class="col">
        <a target="_blank" href="{{ latestUnsubLink }}">Open Unsubscribe-Link</a>
    </div>
    <div class="col text-right">
        <a target="_blank" href="{{ latestUnsubEmail }}">Send Unsubscribe-Email</a>
    </div>
</div>

<hr>


<div>
    <button mdc-button (click)="keep()">KEEP</button>
    <button mdc-button (click)="unsubscribe()">UNSUBSCRIBE</button>
    <button mdc-button (click)="delete()">DELETE</button>
    <div *ngIf="totalMsgCount > 10" class="float-right" style="padding:5px;">
        <small>only 10 items displayed. <a (click)="showAll()"><b>show all</b></a> </small>
    </div>
</div>

<hr>

<mdc-list twoLine>
    <mdc-list-item *ngFor="let m of messages; let i = index" (click)="detail(m)">
        <mdc-checkbox [checked]="m.isChecked" (change)="m.isChecked = !m.isChecked"></mdc-checkbox>
        <mdc-list-item-text secondaryText="{{ m.internalDate | date:'medium' }}">{{ m.from }}</mdc-list-item-text>
        <mdc-icon mdcListItemMeta *ngIf="m.unread === true">mail</mdc-icon>
    </mdc-list-item>
</mdc-list>

<!--
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">From</th>
            <th scope="col">Subject</th>
            <th scope="col">Date</th>
            <th scope="col">Unread?</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let m of messages; let i = index">
            <th scope="row">{{ i }}</th>
            <td>{{ m.from }}</td>
            <td>{{ m.subject }}</td>
            <td>{{ m.internalDate | date:'medium' }}</td>
            <td *ngIf="m.unread">
                <mdc-icon>check_circle_outline</mdc-icon>
            </td>
            <td *ngIf="!m.unread"></td>
        </tr>
    </tbody>
</table>
-->