.mdc-list-group__subheader  {
    font-weight:bold;
}

hr
{
    margin-top:0px;
    margin-bottom: 0px;
}



.icon-column {
    display: flex;
    align-items: center;
    text-align: center;
    vertical-align:middle;
    float: inherit;
    margin-left:25px;
}

.link-row {
    background-color: #242424;
    padding:5px 20px;
    color:white;
    text-transform: uppercase;
}

.link-row a {
    color:white;
}

