<mdc-tab-bar (activated)="tabChanged($event)" [activeTabIndex]="activeTab">
    <mdc-tab-scroller>
        <mdc-tab>
            <mdc-tab-label>New ({{newMailcount}})</mdc-tab-label>
        </mdc-tab>
        <mdc-tab>
            <mdc-tab-label>Unsubscribe</mdc-tab-label>
        </mdc-tab>
        <mdc-tab>
            <mdc-tab-label>Keep</mdc-tab-label>
        </mdc-tab>
    </mdc-tab-scroller>
</mdc-tab-bar>

<div *ngIf="(_dataService.messagesDisplayList | async)?.length == 0" style="min-width: 200px; padding:20px;">
    {{ loadingText }}
    <mdc-linear-progress></mdc-linear-progress>
    <br>
    <button mdc-button (click)="cancel()">
        <mdc-icon>cancel</mdc-icon>Cancel
    </button>
</div>



<grouped-list *ngIf="activeTab == 0" [groups]="_dataService.messagesDisplayList | async">
</grouped-list>
<grouped-list *ngIf="activeTab == 1" [groups]="[]">
</grouped-list>
<grouped-list *ngIf="activeTab == 2" [groups]="[]">
</grouped-list>
