<div class="install">
  <div>
    <img class="logo" src="assets/logo.svg">
  </div>
  <br>
  <div class="whiteframe">
    <div style="text-transform:uppercase; font-size:1.2em;">
      Welcome to Datum Tidy Mail
    </div>

    <!--
    <div>
      Please select your Email Provider to connect over IMAP to your mailbox
    </div>


    
    <mdc-radio-group [(ngModel)]="selectedMailProvider">
      <mdc-form-field *ngFor="let provider of providers">
        <mdc-radio [value]="provider"></mdc-radio>
        <label>{{provider}}</label>
      </mdc-form-field>
    </mdc-radio-group>
    -->

    <br>
    <br>


    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Enter email" [(ngModel)]="imap_username">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
        else.</small>
    </div>
    <button *ngIf="!showPasswordField && !showImapSettingsFields" type="button" class="btn btn-primary" (click)="check()">{{ discoverButtonText }}</button>



    <div *ngIf="showImapSettingsFields">
      <div class="form-group" *ngIf="selectedMailProvider != 'Gmail'">
        <label for="exampleInputEmail1">Imap Host </label>
        <input type="text" class="form-control" aria-describedby="imapHelp" placeholder="Imap Host"
          [(ngModel)]="imap_host">
        <small id="imapHelp" class="form-text text-muted">imap.mailprovider.com</small>
      </div>
      <div class="form-group" *ngIf="selectedMailProvider != 'Gmail'">
        <label for="exampleInputEmail1">Imap Port</label>
        <input type="text" class="form-control" aria-describedby="imapHelp" placeholder="Imap Port"
          [(ngModel)]="imap_port">
        <small id="imapHelp" class="form-text text-muted">default 113 or SSL 993</small>
      </div>
    </div>


    <div *ngIf="showPasswordField">
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
          [(ngModel)]="imap_password">
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" [checked]="imap_savepassword" (change)="imap_savepassword = !imap_savepassword">
        <label class="form-check-label" for="exampleCheck1">Remember password ?</label>
      </div>

      <button type="button" class="btn btn-primary" (click)="login()">{{ buttonText }}</button>
    </div>
  </div>
</div>