<div *ngIf="groups.length == 0">
    <p class="alert alert-info">No items in this list!
    </p>
</div>

<mdc-list-group>
    <div *ngFor="let d of groups;let a = index;">
        <h3 mdcListGroupSubheader>{{ d.name }}</h3>
        <mdc-list avatar twoLine>
            <div *ngFor="let m of d.messagegroups; let i = index">
                <!-- routerLink="/detail/{{ m.hostname }}/{{ status }} -->
                <mdc-list-item (click)="m.isCollapsed = !m.isCollapsed" [attr.aria-expanded]="!m.isCollapsed"
                    [attr.aria-controls]="'collapse' + a + i">
                    <img src="{{ 'https://s2.googleusercontent.com/s2/favicons?domain=' + m.hostname}}"
                        style="padding-right:10px;">
                    <mdc-list-item-text secondaryText="{{ m.messages.length + ' newsletter(s)' }}">{{ m.name }}
                        <small style="color:darkgrey"> {{ m.hostname }} </small>
                    </mdc-list-item-text>
                    <div class="delete-info mdc-list-item__secondary-text">{{ m.status }}</div>

                    <div mdcListItemMeta>
                        <button *ngIf="status == 0" mdc-button (click)="keepAll(m.hostname,m,$event)">
                            <span [hidden]="m.keepLoading">KEEP ALL</span>
                            <span [hidden]="!m.keepLoading">{{ m.statusText }}</span>
                        </button>
                        <button *ngIf="status == 0" mdc-button (click)="unsubscribeAll(m.hostname, m,$event)">
                            <span [hidden]="m.unsubLoading">UNSUBSCRIBE ALL</span>
                            <span [hidden]="!m.unsubLoading">{{ m.statusText }}</span>
                        </button>
                        <button  *ngIf="status == 0"mdc-button (click)="deleteAll(m.hostname, m, $event)">
                            <span [hidden]="m.deleteLoading">DELETE ALL</span>
                            <span [hidden]="!m.deleteLoading">{{ m.statusText }}</span>
                        </button>
                    </div>

                </mdc-list-item>
                <div [attr.id]="'collapse' + a + i" [ngbCollapse]="m.isCollapsed">
                    <mdc-list-item *ngFor="let msg of m.messages; let msgIndex = index">
                        <mdc-list-item-text *ngIf="status != 1"
                            secondaryText="{{ msg.ignoredCount + ' mails, last from: ' +  (msg.internalDate | date:'medium') }}">
                            {{ msg.from }}
                        </mdc-list-item-text>
                        <mdc-list-item-text *ngIf="status == 1"
                            secondaryText="{{ msg.ignoredCount + ' mails, unsubscribed at: ' +  (msg.unsubscribeDate | date:'medium') }}">
                            {{ msg.from }}
                        </mdc-list-item-text>
                        <div mdcListItemMeta>
                            <button *ngIf="status == 0" mdc-button (click)="keep(msg.id)">
                                KEEP
                            </button>
                            <button *ngIf="status == 0" mdc-button (click)="unsubscribe(msg.id)">
                                UNSUBSCRIBE
                            </button>
                            <button *ngIf="status == 0" mdc-button (click)="delete(msg.id)">
                                DELETE
                            </button>
                        </div>

                    </mdc-list-item>

                </div>
            </div>
        </mdc-list>
        <mdc-list-divider></mdc-list-divider>
    </div>
</mdc-list-group>