<div *ngIf="groups.length == 0">
    <p class="alert alert-info">No items in this list!
    </p>
</div>

<mdc-list-group>
    <div *ngFor="let d of groups;let a = index;">
        <h3 mdcListGroupSubheader>{{ d.name }}</h3>
        <mdc-list avatar twoLine>
            <div *ngFor="let m of d.messagegroups; let i = index">
                <!-- routerLink="/detail/{{ m.hostname }}/{{ status }} -->
                <mdc-list-item (click)="m.isCollapsed = !m.isCollapsed" [attr.aria-expanded]="!m.isCollapsed"
                    [attr.aria-controls]="'collapse' + a + i">
                    <img src="{{ 'https://s2.googleusercontent.com/s2/favicons?domain=' + m.hostname}}"
                        style="padding-right:10px;">
                    <mdc-list-item-text
                        secondaryText="{{ m.unreadCount + '/' + m.messages.length + ' unread emails' }}">{{ m.name }}
                        <small style="color:darkgrey"> {{ m.hostname }} </small>
                    </mdc-list-item-text>

                    <!--
                    <button mdc-button mdcListItemMeta [attr.data-toggle]="collapse" [attr.data-target]="'#collapse' + i" [attr.aria-expanded]="false"
                    [attr.aria-controls]="'collapse' + i">
                        KEEP
                    </button>
                    <button mdc-button mdcListItemMeta>
                        UNSUBSCRIBE
                    </button>
                    -->
                    <button mdc-button mdcListItemMeta>
                        DETAILS
                    </button>
                </mdc-list-item>
                <div [attr.id]="'collapse' + a + i" [ngbCollapse]="m.isCollapsed">
                        <mdc-list-item *ngFor="let msg of m.messages; let msgIndex = index">
                            <mdc-list-item-text secondaryText="{{ msg.internalDate | date:'medium' }}">{{ msg.from }}
                            </mdc-list-item-text>
                            <button mdc-button mdcListItemMeta>
                                KEEP
                            </button>
                            <button mdc-button mdcListItemMeta>
                                UNSUBSCRIBE
                            </button>
                        </mdc-list-item>
                    
                </div>
            </div>
        </mdc-list>
        <mdc-list-divider></mdc-list-divider>
    </div>
</mdc-list-group>