<hr>

<button mdc-button routerLink="/">
    <mdc-icon>chevron_left</mdc-icon>Back
</button>

<hr>

<div class="card" style="width: 25rem;">
    <img src="{{ 'https://via.placeholder.com/400x200.png?text=' + userConfig.username }}" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{ userConfig.username }}</h5>
        <p class="card-text">
            Host: {{ userConfig.imapurl }}
            <br>
            Port: {{ userConfig.imapport }}
        </p>
       <p>
            <button (click)="removeAccount()" class="btn btn-warning">Remove Account</button>
            <button (click)="resetDatabase()" class="btn btn-danger float-right">Reset Database</button>
       </p>
    </div>
</div>