<hr>

<button mdc-button routerLink="/">
    <mdc-icon>chevron_left</mdc-icon>Back
</button>

<hr>

<div class="card" style="width: 18rem;">
    <img src="{{ 'https://via.placeholder.com/728x90.png?text=' + userConfig.username }}" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{ userConfig.username }}</h5>
        <p class="card-text">{{ userConfig.imapurl }} </p>
    </div>
</div>

<hr>

<div style="padding:20px;">
    <p>
        <button (click)="resetDatabase()" mdc-button outlined>
            <mdc-icon>delete</mdc-icon>reset database
        </button>
    </p>
    <p>
        <button (click)="resetAll()" mdc-button outlined>
            <mdc-icon>delete</mdc-icon>reset ALL
        </button>
    </p>
</div>>