<div>
    <mdc-top-app-bar fixed [scrollTarget]="fixedContent">
        <mdc-top-app-bar-row>
          <mdc-top-app-bar-section align="start" title="UnSubscriber">
            <button mdcTopAppBarNavIcon>
              <mdc-icon>menu</mdc-icon>
            </button>
          </mdc-top-app-bar-section>
          <mdc-top-app-bar-section align="end">
            <mdc-icon mdcTopAppBarActionItem>mail</mdc-icon>
          </mdc-top-app-bar-section>
        </mdc-top-app-bar-row>
      </mdc-top-app-bar>
</div>
<div style="padding-top:60px;">
  <mdc-tab-bar>
    <mdc-tab-scroller>
      <mdc-tab *ngFor="let tab of tabs; let i = index">
        <mdc-icon mdcTabIcon>{{ tab.icon }}</mdc-icon>
        <mdc-tab-label>{{ tab.label }} ({{ tab.count }})</mdc-tab-label>
      </mdc-tab>
    </mdc-tab-scroller>
  </mdc-tab-bar>
</div>  


<mdc-list avatar twoLine>
    <mdc-list-item *ngFor="let mail of mails; let i = index">
      <mdc-icon mdcListItemGraphic>folder</mdc-icon>
      <mdc-list-item-text secondaryText="{{ mail.description }}">{{ mail.title }}</mdc-list-item-text>
      <mdc-icon mdcListItemMeta>info</mdc-icon>
    </mdc-list-item>
  </mdc-list>
<router-outlet></router-outlet>
