.logo {
    max-width:120px;
    padding-top:15px;
}

.verify-loader {
    text-align: center;
    padding:20px;
}

.wizard-content {
    max-width: 450px;
    margin: auto;
    margin-top: 10%;
  }


.full-with-field {
    width: 100%;
}

.space-4em{
    height:4em;
}

.space-2em{
    height:2em;
}
  

.version-info {
    position: absolute;
    left:0;
    right:0;
    bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    color:#555;
    font-size: small;
  }

