/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities/text";
@import "reset";


html, body { 
    height: 100%; 
}
body { 
    background:rgb(249,249,249);
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}


.loader {
    background: url(assets/loading.gif) no-repeat center center;
    background-size: 200px 200px;
    height: 100%;
    width: 100%;
  }